BD Tenencia Uso EACP Mun.csv:
    [credito__credito_al_consumo,
     credito__credito_a_la_vivienda,
     transacciones__en_tpv,
     transacciones__en_cajeros_automaticos,
     credito__credito_al_consumo (2),
     credito__credito_a_la_vivienda (2),
     transacciones__en_tpv (2),
     transacciones__en_cajeros_automaticos (2),
     clientes_-_sofipo__mujeres,
     clientes_-_sofipo__hombres,
     socios_-_socap__mujeres,
     socios_-_socap__hombres,
     total_de_usuarios_-_eacp__mujeres,
     total_de_usuarios_-_eacp__hombres
    ]

BD Infraestructura Mun.csv:
    [numero_de_puntos_de_acceso__sucursales_banca_comercial,
     numero_de_puntos_de_acceso__sucursales_banca_de_desarrollo,
     numero_de_puntos_de_acceso__sucursales_socap,
     numero_de_puntos_de_acceso__sucursales_sofipo,
     numero_de_puntos_de_acceso__total_sucursales,
     numero_de_puntos_de_acceso__corresponsales,
     numero_de_puntos_de_acceso__terminales_punto_de_venta,
     numero_de_puntos_de_acceso__establecimientos_con_tpv,
     numero_de_puntos_de_acceso__contratos_que_utilizan_banca_movil,
     indicadores_demograficos_(puntos_de_acceso_por_cada_10000_adultos)__sucursales_banca_comercial,
     indicadores_demograficos_(puntos_de_acceso_por_cada_10000_adultos)__sucursales_banca_de_desarrollo,
     indicadores_demograficos_(puntos_de_acceso_por_cada_10000_adultos)__sucursales_socap,
     indicadores_demograficos_(puntos_de_acceso_por_cada_10000_adultos)__sucursales_sofipo,
     indicadores_demograficos_(puntos_de_acceso_por_cada_10000_adultos)__total_sucursales,
     indicadores_demograficos_(puntos_de_acceso_por_cada_10000_adultos)__corresponsales,
     indicadores_demograficos_(puntos_de_acceso_por_cada_10000_adultos)__terminales_punto_de_venta,
     indicadores_demograficos_(puntos_de_acceso_por_cada_10000_adultos)__establecimientos_con_tpv,
     indicadores_demograficos_(puntos_de_acceso_por_cada_10000_adultos)__contratos_que_utilizan_banca_movil
    ]

BD Tenencia Uso Banca Mun.csv:
    [captacion__cuentas_transaccionales_nivel_1,
     captacion__cuentas_transaccionales_nivel_2,
     captacion__cuentas_transaccionales_nivel_3,
     captacion__cuentas_transaccionales_tradicionales,
     captacion__cuentas_de_ahorro,
     captacion__depositos_a_plazo,
     captacion__tarjetas_de_debito,
     credito__tarjetas_de_credito,
     credito__hipotecario,
     credito__grupal,
     credito__personal,
     credito__nomina,
     credito__automotriz,
     credito__abcd,
     transacciones__en_tpv,
     transacciones__en_cajeros_automaticos,
     captacion__cuentas_transaccionales_nivel_1 (2),
     captacion__cuentas_transaccionales_nivel_2 (2),
     captacion__cuentas_transaccionales_nivel_3 (2),
     captacion__cuentas_transaccionales_tradicionales (2),
     captacion__cuentas_de_ahorro (2),
     captacion__depositos_a_plazo (2),
     captacion__tarjetas_de_debito (2),
     credito__tarjetas_de_credito (2),
     credito__hipotecario (2),
     credito__grupal (2),
     credito__personal (2),
     credito__nomina (2),
     credito__automotriz (2),
     credito__abcd (2),
     transacciones__en_tpv (2),
     transacciones__en_cajeros_automaticos (2)
    ]